* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
  margin: 1rem;
  color: #adff2f;
  animation: neon 1s infinite;
}

@keyframes neon {
  0%{ color: #8a2be2; text-shadow: 0 0 10px #adff2f;}
  50%{ color: #adff2f; text-shadow: 0 0 10px #8a2be2;}
  100%{ color: #8a2be2; text-shadow: 0 0 10px #adff2f;}
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #272727;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

button {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 5rem;
  color: #ffffff;    
}

button:hover {
  background-color: #546b7e;
}